/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header style */
.home-section{
    width: 100%;
    height: 667px;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}

.top-head{
    width: 80%;
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5rem;
 
}
.head-title{
    width: 45%;
}
.head-title h1{
    color: white;
    font-size: 64px;
    font-weight: 700;

}
.head-title a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 5px 20px; 
    border-radius: 6px;

}
 .banner{
    width: 45%;
} 
.banner img{
    width: 100%;


}
.banner:hover img{
    transform: scale(1.1) rotate(15deg);
    transition: transform 2s ease-in-out;
    z-index: 10;
    
}
/* main style */

   
  
main{
    margin-top: 10px;
    width: 100%;
    background-color: #FFFFFF;
}

.container{
   margin-top: 70px; 
   margin-left: 195px; 
   margin-right: 210px;
    display: flex;
    justify-content: center;
    align-items: center;   
   
   
    
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 27px;
    column-gap: 30px;
    
   
}
.player-detailes{
    width:330px ;
   height:474px;
   background-color: white;  
   box-sizing: border-box;
   box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.76);
}
.image-style{
    width:310px;
    height: 240px;
    margin-left: 10px;
    margin-top: 10px;
}
 h2{
    padding: 5px;
}
p{ 
    padding: 5px;
    font-size: 12px;
    font-weight: 200;

}


/* input section */
.input-section{
    width: 100%;
    height: 500px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ccc;
}
.input{
    width: 60%;
    height: 300px;
    background: #ddd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.text-area textarea{
    resize: none;
}
.button{
    border: none;
    padding: 5px 20px;
    background: #E02C6D;
    color: #FFFFFF;
    border-radius: 5px;
}
.button:hover{

    background: #FFFFFF;
    color: #E02C6D;

}
/* footer */
footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    
}
.social-icon i{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    background: #ccc;
    border-radius: 10px;
}
.copyright p{
font: 15px;
}
@media only screen and (max-width:680px){

    .home-section{
        min-height: 100vh;
;
        align-items: center;
    }
    
    .top-head{
        width: 100%;
        padding: 2rem;
        display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       gap: 2rem;
     
    }
    .head-title{
        width: 100%;
    }
    .head-title h1{
        font-size: 40px;
        font-weight: 500;
    
    }

     .banner{
        width: 80%;
    } 

    .container{
        margin-top: 70px; 
        margin-left: 195px; 
        margin-right: 210px;
         display: flex;
         justify-content: center;
         align-items: center;   
        
        
         
    }
    .top-players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2rem;

    }
    .logo img{
        width: 80%;
        
    }

}
    
