/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header style */
header{
    display: flex;
    justify-content: center;
}

.top-head{
    width: 100%;
    height: 667px;
    display: flex;
    flex-wrap: nowrap;
   justify-content: space-between;
    background-color: #2D25A0;
 
}
.head-title h1{
    width: 485px;
    height: 230px;
    color: white;
    font-size: 64px;
    line-height: 80px;
    margin-left: 154px;
    margin-top: 207px;
}
.head-title a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    margin-left: 154px;
    width: 168px;
    height: 44px;
    margin-bottom:169px; 
    border-radius: 6px;

}
 .banner{
    overflow: hidden;
} 
.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
    margin-bottom: 86px;
    }
    .banner:hover img{
        transform: scale(1.1) rotate(15deg);
        transition: transform 2s ease-in-out;
        z-index: 10;
      
    }
/* main style */

   
  
main{
    margin-top: 10px;
    width: 1440px;
   
    background-color: #FFFFFF;
   
}

.container{
   margin-top: 70px; 
   margin-left: 195px; 
   margin-right: 210px;
    display: flex;
    justify-content: center;
    align-items: center;   
   
   
    
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 27px;
    column-gap: 30px;
    
   
}
.player-detailes{
    width:330px ;
   height:474px;
   background-color: white;  
   box-sizing: border-box;
   box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.76);
}
.image-style{
    width:310px;
    height: 240px;
    margin-left: 10px;
    margin-top: 10px;
}
 h2{
    padding: 5px;
}
p{ 
    padding: 5px;
    font-size: 12px;
    font-weight: 200;

}
/* footer */
footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 483px;
    margin-bottom: 2rem;
}
.logo img{
    width: 100%;
    
}
.social-icon i{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    background: #ccc;
    border-radius: 10px;
}
.copyright p{
font: 15px;
}